<script lang="ts">
  export let open = false;
</script>

<button on:click={() => (open = !open)}>
  <div class={open ? "top-open" : "top-closed"} />
  <div class={open ? "middle-open" : "middle-closed"} />
  <div class={open ? "bottom-open" : "bottom-closed"} />
</button>

<style>
  * {
    padding: 0em;
    margin: 0em;
    font-size: inherit;
  }
  button {
    --button-size: 3em;
    --bar-width: calc(var(--button-size) * 0.8);
    --bar-height: calc(var(--bar-width) * 0.1);

    display: block;
    position: relative;
    width: var(--button-size);
    height: var(--button-size);

    top: calc(50% - (var(--button-size) / 2));
    left: calc(50% - (var(--button-size) / 2));

    border: none;
    background: none;
    cursor: pointer;
  }

  div {
    position: absolute;
    right: calc(50% - (var(--bar-width) / 2));
    width: var(--bar-width);
    height: var(--bar-height);

    background-color: white;

    transition-property: top, transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    z-index: 12;
  }
  .top-closed {
    top: calc(25% - 0.2em);
    transition-delay: 0.2s, 0s, 0s;
  }
  .middle-closed {
    top: calc(50% - 0.2em);
  }
  .bottom-closed {
    top: calc(75% - 0.2em);
    opacity: 1;
    transition-delay: 0.2s, 0s, 0s;
  }
  .top-open {
    top: calc(50% - 0.25em);
    transform: rotate(45deg);
    transition-delay: 0s, 0.2s, 0s;
  }
  .middle-open {
    opacity: 0;
    top: calc(50% - 0.25em);
  }
  .bottom-open {
    top: calc(50% - 0.25em);
    transform: rotate(-45deg);
    transition-delay: 0s, 0.2s, 0s;
  }
</style>
