<script lang="ts">
  import Hamburger from "$lib/Hamburger.svelte";

  export let open = false;

  type Link = {
    name: string;
    link: string;
  };
  let links: Link[] = [
    { name: "Home", link: "/" },
    { name: "About Me", link: "/about-me" },
    { name: "Publications", link: "/publications" },
    { name: "Blogs, Podcasts & Videos", link: "/blogs" },
    { name: "Junior Doctors Report", link: "/junior-doctors-report" },
    { name: "Projects", link: "/projects" },
    { name: "Other Sites", link: "/other-sites" },
  ];
</script>

<header>
  <div class="header-text">
    <h1>Prof Scarlett McNally</h1>
    <span class="post-nominals">
      BSc MB BChir FRCS (Tr &amp; Orth) MA MBA FAcadMEd
    </span><br />
    <span class="title"> Consultant Orthopaedic Surgeon </span>
  </div>
  <div id="menu-button">
    <Hamburger bind:open />
  </div>
  {#if open}
    <nav>
      {#each links as { name, link }}
        <a class="nav-link" href={link}>{name}</a>
      {/each}
    </nav>
  {/if}
</header>

<style>
  * {
    margin: auto;
    padding: 0rem;
  }
  header {
    display: grid;
    background-color: var(--scarlett-red);
    width: 100%;
    grid-template:
      ". t . b" 6em
      "n n n n" 1fr
      / 1fr 18em 1fr 5em;

    margin: 0em;
    padding: 0.4em 0em;
    grid-row-gap: 0.4em;

    box-shadow: 0em 0.2em 0.25em grey;
  }
  .header-text {
    text-align: center;
    color: white;
    grid-area: t;
  }
  h1 {
    font-size: 1.8em;
    font-weight: normal;
  }
  .post-nominals {
    line-height: 0.4em;
    font-size: 0.75em;
  }
  .title {
    font-size: 1em;
    font-weight: bold;
  }
  #menu-button {
    grid-area: b;
    margin: 0em;
  }
  nav {
    grid-area: n;
    width: 100%;

    margin: auto;
    padding: 1em 0em;
    grid-gap: 0.2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 2em;
    grid-auto-flow: row;
  }
  .nav-link {
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.2em;
    color: white;
  }
  .nav-link:hover,
  .nav-link:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
</style>
