<svelte:head>
  <title>About Scarlett McNally</title>
</svelte:head>

<main>
  <section id="about-the-site">
    <h2>More about me!</h2>

    <p>
      I am a Consultant Orthopaedic Surgeon, working in Eastbourne, UK. I
      qualified as a doctor in 1989. I have always been interested in what makes
      people healthy, how processes work and how change happens. In December
      2018, I was diagnosed with Myeloma and Cardiac amyloidosis. At the time
      both were considered incurable, but I have had amazing treatment,
      including a stem cell transplant in 2020 and I am back at work part-time.
      As a surgeon, I have always been involved in initiatives and
      organisations. I have now had more time to write, be an invited speaker
      and focus on the changes that we need, for everyone to live their best
      life and to be valued. I have additional degrees in Clinical Education (MA
      2008 – University of Brighton) and healthcare management (MBA 2013 – Keele
      University). I was the ninth woman elected to the Council of the Royal
      College of Surgeons (2011-2021). I was given the title of Honorary
      Clinical Professor at Brighton and Sussex Medical School in May 2022.
    </p>

    <figure id="figure-formal">
      <img
        src="/image/Scarlett-RCS-BOA-Sept_2019.jpg"
        alt="Scalett with RCS at BOA September 2019"
      />
    </figure>

    <p>
      Health is not just about healthcare. To me, surgery is the ultimate
      intervention – knowing what I have to do and then doing it. Yet seeing
      healthcare as interventions turns people into passive patients. Most
      ill-health is preventable. The human machine needs to be active. Most NHS
      spending is on diseases with a large preventable component. Exercise works
      as both primary prevention (reducing the risk of ever getting the
      condition) and as tertiary prevention (reducing the risks of things going
      wrong when people already have a medical condition). More recently, I have
      been involved with work trying to help people prepare for surgery – this
      is astonishingly effective at reducing complications and reducing stay in
      hospital and costs. Organisations and institutions need to change to allow
      people to be active. Nationally, we cannot afford the social care costs
      that are looming from decades of inactivity. The best forms of activity
      are those that fit into your schedule – like electric-cycling to work.
      Please read my BMJ article ‘Focus on physical activity can help avoid
      unnecessary social care’ spelling out how much individuals and the UK
      economy would gain if people understood that getting old and getting unfit
      are two different processes – one being reversible.
    </p>

    <p>
      It is not just about getting individuals to make good choices. I was a
      co-founder and first Chair of www.bespokecyclegroup.org aiming to get more
      people to cycle and more facilities for cycling in Eastbourne. We still
      have hardly any facilities. We need local authorities to install them and
      we need communities to demand them.
    </p>
    <p>
      Changing behaviour needs a way of building up small changes into a new
      normal schedule. For each person to be active needs: small goals, a plan
      for failure, the people around them to help and a supportive environment.
    </p>

    <figure id="figure-cycling">
      <img
        src="/image/scarlett-cycle-helmet.jpg"
        alt="Scalett mid cycle ride"
      />
    </figure>

    <p>
      I have been involved in Women in Surgery and other initiatives to increase
      diversity and reduce bullying. There are parallels with supporting
      individuals to be their best future self in any sphere – this needs
      clarity of role/direction and support/respect by those around them.
      Sometimes we need to clarify a minimum expectation as well as an
      aspirational level. Work on ‘avoiding unconscious bias’ and reducing
      ‘micro-aggressions’ requires effort from everyone. I am proud of our
      award-winning initiative developing Doctors’ Assistants – who are trained
      to work alongside doctors, reducing the workload for doctors and improving
      patient care. For many projects, there are multiple wins. Better health
      and active travel means less financial cost and better sustainability –
      for individuals and for the country. We each only get one life. Everyone
      should get the best out of it. So here are some articles mainly about
      exercise, education and empowerment.
    </p>
  </section>
  <section id="lists">
    <h3>Previous or current member of committees at:</h3>
    <ul>
      <li>British Medical Association</li>
      <li>Academy of Medical Royal Colleges</li>
      <li>Medical Women’s Federation</li>
      <li>Swim England</li>
      <li>Office of Health Improvement &amp; Disparities / Sport England</li>
      <li>British Orthopaedic Association</li>
    </ul>

    <h3>Recent awards:</h3>
    <ul>
      <li>
        Listed 73<sup>rd</sup> in
        <span class="bold">top 100 women in medical leadership</span>
        2021,
        <a href="https://www.thehealthcareleadership.academy/"
          >Healthcare Leadership Academy</a
        >
      </li>
      <li>
        Awarded the <span class="bold">Webb-Johnson Oration</span> 2021 between the
        Royal College of Anaesthetists and Royal College of Surgeons of England.
      </li>
      <li>
        <a
          href="https://www.bma.org.uk/what-we-do/committees/medical-academic-staff-committee/role-models-of-women-in-academic-medicine"
          >BMA role model 2021</a
        >
      </li>
      <li>
        Skills for Health Gold Award 2017 for development of the Doctors’
        Assistant role
      </li>
      <li>4th Dan Karate Black belt, 2014</li>
      <li>Fellow of the Academy of Medical Educators, 2014</li>
      <li>Kent Surrey &amp; Sussex surgery school award, 2012</li>
    </ul>

    <h3>Current roles:</h3>
    <ul>
      <li>Consultant Orthopaedic Surgeon, East Sussex Healthcare NHS Trust</li>
      <li>
        Deputy Director, <a href="https://www.cpoc.org.uk"
          >Centre for Perioperative Care</a
        >
      </li>
      <li>President, Medical Women’s Federation</li>
    </ul>
  </section>
  <section id="end-note">
    <p>
      This website is to recycle my ideas. Please follow me on Twitter
      <a href="https://twitter.com/scarlettmcnally">@scarlettmcnally</a>,
      forward my website link to anyone who might like it, or contact me via
      <a href="mailto:scarlettmcnally@cantab.net">scarlettmcnally@cantab.net</a
      >. Thank you! Scarlett McNally
    </p>
  </section>
</main>

<style>
  * {
    margin: auto;
    padding: 0em;
  }
  main {
    margin: 0em;
  }
  section {
    margin: 1.2em auto;
    width: min(60em, 90%);
  }
  p {
    padding: 0.2em 0em;
    text-indent: 1em;
  }
  a {
    color: var(--scarlett-red);
  }
  h2 {
    color: var(--scarlett-red);
    font-size: 2em;
    font-weight: normal;
  }
  h3 {
    color: var(--scarlett-red);
    font-size: 1.4em;
    font-weight: normal;
  }
  ul {
    padding: 0em 0em 1em 2em;
  }
  figure {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
  }
  img {
    display: block;
    border: 0.1em solid var(--scarlett-red);
    box-shadow: 0.1em 0.1em 0.2em grey;
  }
  .bold {
    font-weight: bold;
  }
  #figure-formal > img {
    width: 60%;
  }
  #figure-cycling > img {
    width: 20%;
  }
  #end-note {
    width: min(40em, 90%);
    text-align: center;
  }
  #end-note > p {
    text-indent: 0em;
  }
</style>
