<script lang="ts">
  type Page = { link: string; name: string; words: string };

  let page_list: Page[] = [
    {
      link: "/about-me",
      name: "About Me",
      words: "More about me.",
    },
    {
      link: "https://www.bmj.com/search/advanced/mcnally",
      name: "BMJ Articles",
      words: "My BMJ column articles.",
    },
    {
      link: "/publications",
      name: "Publications",
      words: "Links to articles I have published.",
    },
    {
      link: "/junior-doctors-report",
      name: "Junior Doctors Report",
      words: "New report on what we should call Junior Doctors.",
    },
    {
      link: "/blogs",
      name: "Blogs, Podcasts & Videos",
      words:
        "Links to blogs, podcasts & videos that I have created and have been published elsewhere.",
    },
    {
      link: "/projects",
      name: "Projects",
      words:
        "Doctors' Assistants, #TheatreCapChallenge and other projects; documents and templates that can be borrowed freely to spread ideas.",
    },
    {
      link: "/other-sites",
      name: "Other Sites",
      words: "To direct you to awesome work, ideas and information.",
    },
  ];
</script>

<svelte:head>
  <title>Prof Scarlett McNally</title>
</svelte:head>

<main>
  <section id="about-the-site">
    <img src="/image/scarlett.jpg" alt="scarlett" />

    <p>
      Hello!<br />
      I am a Consultant Orthopaedic surgeon with an interest in health and exercise,
      diversity, careers, sustainability, education and transport. This website is
      a store of information, e.g. links to my
      <a href="https://www.bmj.com/search/advanced/mcnally">BMJ Articles</a>.
    </p>
  </section>
  <section id="page-list">
    {#each page_list as { link, name, words }}
      <a class="page-card" href={link}>
        <h3>{name}</h3>
        <p>{words}</p>
      </a>
    {/each}
  </section>
</main>

<style>
  * {
    margin: auto;
    padding: 0em;
    font-size: inherit;
    box-sizing: border-box;
  }

  main {
    margin: 0em auto;
    padding: 1em;

    width: min(100%, 45em);

    grid: 10em 1fr / 1fr;
  }
  a {
    color: var(--scarlett-red);
  }

  #about-the-site {
    display: grid;

    grid: 1fr / 8em 1fr;
    grid-gap: 1em;

    border-radius: 0.2em;
  }
  #about-the-site > img {
    display: inline-block;
    object-fit: contain;
    width: 100%;
    height: auto;
    border: 0.2em solid white;
    border-radius: 0.25em;
  }

  #page-list {
    padding-top: 2em;
  }
  .page-card {
    display: grid;
    grid: 1fr / 7em 1fr;
    grid-gap: 2em;

    margin: 1em 0rem;
    padding: 0.4em;

    /*border: 0.1em solid red;*/
    border-radius: 0.2em;
    box-shadow: 0em 0em 0.25em grey;

    text-decoration: none;
    color: inherit;
  }
  .page-card:hover,
  .page-card:active {
    box-shadow: 0em 0em 0.5em grey;
  }
  .page-card > h3 {
    margin-right: 0em;

    color: var(--scarlett-red);
    text-decoration: underline;
    font-weight: bold;

    text-align: right;
  }
  .page-card > p {
    margin-left: 0em;
  }
</style>
