<script>
  let buttons_top = [
    {
      name: "Report “What should we call Junior Doctors?”",
      document: "/document/junior-doctors-report.pdf",
    },
    {
      name: "Executive Summary",
      document: "/document/junior-doctors-executive-summary.pdf",
    },
    {
      name: "Updated Recommendations List (July 2023)",
      document: "/document/junior-doctors-recommendations-list-2023-07.pdf",
    },
  ];
  let buttons_bottom = buttons_top.concat([
    {
      name: "Recommendations Table",
      document: "/document/junior-doctors-recommendations-table.pdf",
    },
    {
      name: "Original Recommendations List",
      document: "/document/junior-doctors-recommendations-list.pdf",
    },
    {
      name: "BMA UK Junior Doctors Committee Response 03/04/2022",
      document: "/document/bma-uk-junior-doctors-committee-03-04-22.pdf",
    },
    {
      name: "Health Education England Response 24/12/2021",
      document: "/document/junior-doctors-hee-response-24-12-21.pdf",
    },
    {
      name: "Health Education England Response 10/05/2022",
      document: "/document/junior-doctors-hee-response-10-05-22.pdf",
    },
    {
      name: "RCS Blog",
      document: "/document/what-should-we-call-junior-doctors.pdf",
    },
    {
      name: "Press Release",
      document: "/document/junior-doctors-press-release.odt",
    },
  ]);
</script>

<svelte:head>
  <title>Junior Doctors Report</title>
</svelte:head>

<main>
  <section class="buttons">
    {#each buttons_top as { name, document }}
      <a rel="external" href={document}>{name}</a>
    {/each}
  </section>
  <section id="explaination">
    <h2>What should we call Junior doctors?</h2>
    <h3>Updated recommendations, July 2023</h3>
    <p>
      Following publication of my report in April 2022, there have been further
      discussions, so I have updated the recommendations.
    </p>
    <ol>
      <li>
        All Doctors should be clearly identified as a Doctor (or Surgeon).
      </li>
      <li>
        Where a level of expertise is needed, eg for the rota, these broad ranks
        are recommended:
        <ul>
          <li>Foundation Year 1</li>
          <li>SHO</li>
          <li>Registrar</li>
          <li>Consultant or Specialist</li>
        </ul>
      </li>
      <li>
        The term ‘Junior doctor’ and ‘trainee’ should not be used. Where it is
        essential to know the Doctor is on a training programme:
        <ul>
          <li>‘Doctor in Postgraduate Training’ OR:</li>
          <li>‘Postgraduate Doctor’ OR:</li>
          <li>‘Postgrad Doctor’</li>
        </ul>
      </li>
      <li>
        Surgeons should consider using the title ‘Dr’. This reinforces their
        role as medically qualified and reduces the use of historical titles
        (Mr/Ms/Miss/Mrs/Mx) that are gendered and related to marital status.
        This will require good support for those committed to a surgical career
        from their surgical department without requiring the historical title.
      </li>
    </ol>
    <p>In addition:</p>
    <ol start="5">
      <li>
        The term ‘Junior Doctor’ originally applied to doctors in postgraduate
        training programmes. There should be awareness that there are now more
        doctors not in training programmes than in postgraduate training
        programmesii. SAS doctors (specialist, associate specialist and
        specialty doctors) are on permanent contracts with national terms and
        conditions of service. SAS doctors are experienced and senior doctors
        who have at least four years of full-time postgraduate training, two of
        which have been in their relevant specialty. There are also large
        numbers of Locally Employed Doctors (LE Doctors); for example, a doctor
        may be “on the SHO rota” but may not be in a training programme.
      </li>
      <li>
        Every effort should be made to ensure the name and role as a Doctor is
        clear, including name badges, lanyards, theatre caps, introductions and
        signatures.
      </li>
      <li>
        Patients and other staff should be included in any communication effort
        to ensure respect for these Doctors.
      </li>
    </ol>
    <h3>Background</h3>
    <p>
      I was invited to report on what we should call junior doctors. I convened
      a working group, with a range of invited speakers, to give their views. A
      survey had almost 2000 responders. Everyone (88% of survey responders)
      agrees that the term ‘junior doctor’ is demeaning. 47% also thought
      ‘trainee’ should also be avoided. The educational labels that started in
      2007 are poorly understood. It is not a simple re-branding exercise. There
      are many problems. The term means different things to different people.
      There are almost as many doctors working in similar roles who are not in
      training posts as doctors who are in training posts. There are multiple
      other roles in healthcare that can be confusing. People tend to guess if
      they are not sure or don’t want to cause embarrassment. This can be a
      safety problem, if other staff do not realise the seniority of an opinion
      giver.
    </p>
    <p>
      I have some solutions! It will require a suite of terms, not just one.
      Some old terms (eg “Registrar”) should come back.
    </p>
    <p>
      My report has no legal power to change practice. I am reliant on everyone:
      the public, staff, doctors and organisations that manage them, to share my
      report and start some changes. Thank you.
    </p>
    <p>
      Prof Scarlett McNally BSc MB BChir FRCS(Tr&amp;Orth) MA MBA FAcadMEd<br />
      Consultant Orthopaedic Surgeon Twitter @scarlettmcnally
    </p>
  </section>
  <section class="buttons">
    {#each buttons_bottom as { name, document }}
      <a rel="external" href={document}>{name}</a>
    {/each}
  </section>
</main>

<style>
  * {
    margin: auto;
  }
  main {
    margin: 0em;
  }
  section {
    margin: 1.2em auto;
    width: min(60em, 90%);
  }
  p {
    padding: 0.2em 0em;
  }
  h2 {
    color: var(--scarlett-red);
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    padding-bottom: 0.4em;
  }

  h3 {
    color: var(--scarlett-red);
    padding-top: 0.2em;
  }

  ol > li {
    padding: 0.3em;
  }

  a {
    display: inline-block;
    color: var(--scarlett-red);
    border: 0.14em solid var(--scarlett-red);
    border-radius: 0.4em;
    box-shadow: 0em 0em 0.2em grey;
    text-decoration: none;
    text-align: center;
    margin: 0.3em;
    padding: 0.4em;
    background: none;
  }
  a:hover,
  a:active {
    box-shadow: 0em 0em 0.4em grey;
    background: var(--scarlett-red);
    color: white;
  }
</style>
