<script lang="ts">
  type Site = { title: string; link: string; words: string };

  let site_list: Site[] = [
    {
      title: "Centre for Perioperative Care",
      link: "https://www.cpoc.org.uk",
      words:
        "How to improve care from the moment surgery is contemplated till full recovery (for health professionals, the public and policy makers).",
    },
    {
      title: "Medical Womens Federation",
      link: "https://www.medicalwomensfederation.org.uk",
      words:
        "For women doctors and medical students and to improve he heatlh of women.",
    },
    {
      title: "Bespoke cycle group",
      link: "https://www.bespokecyclegroup.org.uk",
      words: "Campaign group for safer cycling across Eastbourne.",
    },
    {
      title: "Study at Royal College of Surgeons of England",
      link: "https://www.rcseng.ac.uk/study",
      words: "Practical resources to understand surgery and support students.",
    },
    {
      title: "Moving Medicine",
      link: "https://www.movingmedicine.ac.uk",
      words:
        "How to include exercise to improve health (for health professionals and the public).",
    },
    {
      title: "Swim England",
      link:
        "https://www.swimming.org/justswim/get-healthier/swimming-with-health-conditions/",
      words: "Health fact sheets for swimming.",
    },
    {
      title: "Avoiding unconscious bias",
      link:
        "https://www.rcseng.ac.uk/standards-and-research/standards-and-guidance/good-practice-guides/avoiding-unconscious-bias/",
      words: "Avoiding unconscious bias, with e-learning and archived webinar.",
    },
  ];
</script>

<svelte:head>
  <title>Other Sites</title>
</svelte:head>

<main>
  <section id="site-list">
    {#each site_list as { link, title, words }}
      <a class="site-card" href={link}>
        <h3>{title}</h3>
        <p>{words}</p>
      </a>
    {/each}
  </section>
</main>

<style>
  * {
    margin: auto;
    padding: 0em;
  }
  main {
    margin: 0em;
  }
  section {
    margin: 1.2em auto;
    width: min(50em, 90%);
  }
  #site-list {
    padding-top: 2em;
  }
  .site-card {
    display: grid;
    grid: 1fr / 9em 1fr;
    grid-gap: 0.8em;

    margin: 1em 0rem;
    padding: 0.4em;

    border-radius: 0.2em;
    box-shadow: 0em 0em 0.25em grey;

    text-decoration: none;
    color: inherit;
  }
  .site-card:hover,
  .site-card:active {
    box-shadow: 0em 0em 0.5em grey;
  }
  .site-card > h3 {
    margin-right: 0em;

    color: var(--scarlett-red);
    text-decoration: underline;
    font-weight: bold;

    font-size: 1em;
    text-align: right;
    text-decoration: none;
  }

  .site-card > p {
    margin-left: 0em;
  }
</style>
