<svelte:head>
  <title>Projects</title>
</svelte:head>

<main>
  <p>
    I am working on a number of projects and here are a number of templates you
    may want to use.
    <br />
    The <a href="/blogs#videos">videos page</a> has some videos on these projects.
  </p>
  <section>
    <h2>Doctors' Assistants</h2>
    <ul>
      <li>
        <a
          rel="external"
          href="/document/expanding-the-successful-role-of-doctors-assistants.pdf"
        >
          Expanding on the successful role of Doctors' Assistant
        </a>
      </li>
      <li>
        <a
          rel="external"
          href="/document/apprenticeship-for-doctors-assistant-leaflet.pdf"
        >
          Apprenticeship for Doctors' Assistant Leaflet
        </a>
      </li>
      <li>
        <a
          rel="external"
          href="document/doctors-assistants-job-description.docx"
          >Job Description</a
        >
      </li>
      <li>
        <a rel="external" href="document/doctors-assistants-advert.docx"
          >Advert</a
        >
      </li>
      <li>
        <a
          rel="external"
          href="/document/role-description-educational-supervisor-for-doctors-assistant.odt"
        >
          Role Description Educational Supervisor for Doctors Assistant
        </a>
      </li>
    </ul>
  </section>
  <section>
    <h2>Exercise</h2>
    <ul>
      <li>
        <a
          rel="external"
          href="/document/websites-to-get-started-with-exercise.pdf"
          >Websites to get started with exercise</a
        >
      </li>
    </ul>
  </section>
  <section id="theatre-cap-challenge">
    <div>
      <h2>Theatre Cap Challenge</h2>
      <ul>
        <li>
          <a
            rel="external"
            href="/document/theatre-cap-challenge-info-for-trusts.odt"
            >Theatre Cap Challenge info for Trusts</a
          >
        </li>
      </ul>
    </div>
    <img
      src="/image/scarlett-theatre-cap.jpg"
      alt="scarlett in a theatre cap"
    />
  </section>
</main>

<style>
  * {
    margin: auto;
    padding: 0em;
  }
  main {
    margin: 2em auto;
    width: min(60em, 90%);
  }
  section {
    margin: 1em 0em;
    padding: 0.6em;
    border: 0.14em solid var(--scarlett-red);
    border-radius: 0.2em;
    box-shadow: 0em 0em 0.2em grey;
  }
  p {
    padding: 0.8em;
    text-align: center;
  }
  h2 {
    font-weight: normal;
    font-size: 1.2em;
  }
  ul {
    margin: 0.2em 0em 0.4em 1.4em;
  }
  a {
    color: var(--scarlett-red);
  }

  #theatre-cap-challenge {
    display: grid;
    grid: 1fr / 1fr 6.8em;
  }
  #theatre-cap-challenge > img {
    object-fit: contain;
    width: 6em;
    margin: 0.4em;
    border-radius: 0em 0.2em 0.2em 0em;
  }
  #theatre-cap-challenge > div {
    margin: 0em auto auto 0em;
  }
</style>
