<script lang="ts">
  import { first_author, co_author } from "$lib/publications";

  const publications = first_author.concat(co_author);

  let share_popup = false;

  function copy_link(uri: string) {
    const link = location.origin + uri;
    navigator.clipboard.writeText(link);
    share_popup = true;
  }
</script>

<svelte:head>
  <title>Publications</title>
</svelte:head>

<main>
  <section>
    <h2>Publications</h2>
  </section>
  <section id="gallery">
    {#each publications as { title, thumbnail, document_link, web_link }}
      <div class="card">
        <img src={thumbnail} alt="The first page of '{title}'." />
        <div class="card-panel">
          <p>{title}</p>
          <a class="download-button" rel="external" href={document_link}>
            <img src="/icon/download.svg" alt="download publication" />
          </a>
          {#if web_link}
            <a class="link-button" href={web_link}>
              <img src="/icon/link.svg" alt="link to external site" />
            </a>
          {/if}
          <button
            class="share-button"
            on:click={() => copy_link(document_link)}
          >
            <img src="/icon/share.svg" alt="copy download link to clipboard" />
          </button>
        </div>
      </div>
    {/each}
  </section>
  <button
    id="share-popup"
    class={share_popup ? "popup-open" : "popup-closed"}
    on:click={() => (share_popup = false)}
  >
    Document link copied to clipboard. &nbsp;&nbsp; ✕
  </button>
</main>

<style>
  * {
    margin: auto;
    padding: 0em;
    font-size: inherit;
  }
  main {
    margin-top: 1em;
    width: min(100%, 60em);
  }
  h2 {
    color: var(--scarlett-red);
    font-size: 2em;
    font-weight: normal;
    text-align: center;
  }

  #gallery {
    --card-width: 14em;
    --card-height: calc(var(--card-width) * 1.5);

    display: grid;
    grid: auto-flow var(--card-height) / repeat(auto-fit, var(--card-width));
    grid-gap: 1em;
    justify-content: center;

    padding: 1em;
  }

  .card {
    border: none;
    box-shadow: 0.2em 0.2em 0.6em grey;
    position: relative;
  }
  .card > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-panel {
    position: absolute;
    z-index: 2;
    bottom: 0em;
    background: white;
    padding: 0.8em;
    color: var(--scarlett-red);

    box-sizing: border-box;
    width: 100%;

    display: grid;
    grid-template:
      "t t t t" 1fr
      ". d l s" 1.6em
      / 1fr 1.6em 1.6em 1.6em;
    grid-gap: 0.4em;
  }
  .card-panel > p {
    grid-area: t;
    font-size: 0.9em;
  }
  .card-panel > a,
  .card-panel > button {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  .download-button {
    grid-area: d;
  }
  .link-button {
    grid-area: l;
  }
  .share-button {
    grid-area: s;
  }
  .card-panel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .card-panel img:hover,
  .card-panel img:active {
    filter: brightness(0%);
  }

  #share-popup {
    position: fixed;
    width: 20em;
    height: 2em;
    left: calc(50vw - 10em);
    bottom: 2em;
    z-index: 5;

    padding: 0.2em 0.8em;
    text-align: right;

    background: var(--scarlett-red);
    color: white;
    border-radius: 2em;
    border: none;

    cursor: pointer;
  }
  .popup-open {
    display: block;
  }
  .popup-closed {
    display: none;
  }
</style>
